<a href="https://colab.research.google.com/github/CEASLIBRARY/Introduction-to-Julia/blob/main/Julia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/JuliaLang/julia-logo-graphics/raw/master/images/julia-logo-color.png" height="150" align = "right"  /> 

# **Workshop : Introduction to Julia**
# *Objectives*
* Introduction to Julia 
  * Basics of Julia :  a brief backgound.
  * Setting up Julia IDE or REPL Environment.
* Hands on with Julia
   * Variables and Data Types.
   * Functions.
   * Data Structures.
   * Control Flow.

# *Future Topics*

Varibale Scope, Modules, Packages, Plotting, Parallel computing, Code Optimization and Interoperability.


# **Introduction to Julia**  
  Julia has evolved quickly since its inception in 2012.
  * Julia user base has grown significantly with high profile users like NASA,  BlackRock, Aviva and INPE.
  * Julia is the only programming language to win _James H. Wilkinson Prize for Numerical Software_. 
  * Julia is general purpose programming language with wide range of applications, including _data science, complex linear algebra, data mining, and machine learning_. 


# **Julia _vs._ C++/C _vs._ Python**

 Julia feels like python but runs like C++/C. Infact julia gives you an option to write your code with much flexibility. You can code like python or to boost profermance you type everything statistically like C++.
 
# **Ways to run Julia**

Three ways to run Julia code: 
  * the first one is through the Julia REPL,
  * through the IDE: _Juno , VSCode_, and
  * Cloud Platforms: _Colab, Kaggle, CoCalc, Azure etc_.

# **Google Colabs Instructions**

* Execute the following cell (click on it and press Ctrl+Enter) to install Julia, IJulia and other packages (if needed, update JULIA_VERSION and the other parameters). This takes a couple of minutes.
*Reload this page (press Ctrl+R, or ⌘+R, or the F5 key) and continue to the next section.

*Notes:*

* If your Colab Runtime gets reset (e.g., due to inactivity), repeat steps 2, 3 and 4.
* After installation, if you want to change the Julia version or activate/deactivate the GPU, you will need to reset the Runtime: Runtime > Factory reset runtime and repeat steps 3 and 4.

In [ ]:
%%shell
set -e

#---------------------------------------------------#
JULIA_VERSION="1.7.1" # any version ≥ 0.7.0
JULIA_PACKAGES="IJulia BenchmarkTools Plots"
JULIA_PACKAGES_IF_GPU="CUDA" # or CuArrays for older Julia versions
JULIA_NUM_THREADS=2
#---------------------------------------------------#

if [ -n "$COLAB_GPU" ] && [ -z `which julia` ]; then
  # Install Julia
  JULIA_VER=`cut -d '.' -f -2 <<< "$JULIA_VERSION"`
  echo "Installing Julia $JULIA_VERSION on the current Colab Runtime..."
  BASE_URL="https://julialang-s3.julialang.org/bin/linux/x64"
  URL="$BASE_URL/$JULIA_VER/julia-$JULIA_VERSION-linux-x86_64.tar.gz"
  wget -nv $URL -O /tmp/julia.tar.gz # -nv means "not verbose"
  tar -x -f /tmp/julia.tar.gz -C /usr/local --strip-components 1
  rm /tmp/julia.tar.gz

  # Install Packages
  if [ "$COLAB_GPU" = "1" ]; then
      JULIA_PACKAGES="$JULIA_PACKAGES $JULIA_PACKAGES_IF_GPU"
  fi
  for PKG in `echo $JULIA_PACKAGES`; do
    echo "Installing Julia package $PKG..."
    julia -e 'using Pkg; pkg"add '$PKG'; precompile;"' &> /dev/null
  done

  # Install kernel and rename it to "julia"
  echo "Installing IJulia kernel..."
  julia -e 'using IJulia; IJulia.installkernel("julia", env=Dict(
      "JULIA_NUM_THREADS"=>"'"$JULIA_NUM_THREADS"'"))'
  KERNEL_DIR=`julia -e "using IJulia; print(IJulia.kerneldir())"`
  KERNEL_NAME=`ls -d "$KERNEL_DIR"/julia*`
  mv -f $KERNEL_NAME "$KERNEL_DIR"/julia  

  echo ''
  echo "Successfully installed `julia -v`!"
  echo "Please reload this page (press Ctrl+R, ⌘+R, or the F5 key) then"
  echo "jump to the 'Checking the Installation' section."
fi

UsageError: Cell magic `%%shell` not found.

# REPL allows you to execute code line by line

**Basic arithmetic operations**
* _Number Addition_

In [ ]:
3+4

7

* subtraction, addition, multiplication, power, square-root, log etc.

In [ ]:
println(4-6)
println(4*23)
println(4^2)
println(√92)
println(sqrt(34))
println(log(23))

-2
92
16
9.591663046625438
5.830951894845301
3.1354942159291497

**Boolean/Logical operators** 
*  _&, xor, ||, nand_

In [ ]:
println(true || false)
println(true & false)
println(xor(true, false))
println(nand(true,false))

true
false
true
true

# Precision
* _Float + Int Addition_
<div>
    <img src="https://github.com/CEASLIBRARY/Introduction-to-Julia/blob/main/enlightenment-symbol.png?raw=1"  width="50"  />
 </div>    

* _Resultant data type is same as highest precision operand_

In [ ]:
2 + 5.0

7.0

**Basic Complex Numbers operations**
* _Complex Number Addition_

In [ ]:
3+4im

3 + 4im

In [ ]:
(3+2im)-(45-23im)

-42 + 25im

**Basic Fractional Numbers operations**
* _Fraction Representioan_

In [ ]:
3//5

3//5

In [ ]:
3//5 + 9//2

51//10

In [ ]:
34//21 + 9

223//21

**How to know the type of variable**
<div>
   <img src="https://github.com/CEASLIBRARY/Introduction-to-Julia/blob/main/enlightenment-symbol.png?raw=1"  width="50"  />
 </div>  
 
 _typeof(variable)_ 

**will let you know the type inferred by Julia**

In [ ]:
typeof(1)

Int64

In [ ]:
typeof(34//20 + 9)

Rational{Int64}

In [ ]:
typeof(4+7im)

Complex{Int64}

# **Variables and Types**

* Julia let you declare a vaiable without explietly mantion the datatype.
* Julia infered its type based on the value assigned to it.
<div>
     <img src="https://github.com/CEASLIBRARY/Introduction-to-Julia/blob/main/enlightenment-symbol.png?raw=1"  width="50"  />  
</div>
<div>
   <img src="https://github.com/CEASLIBRARY/Introduction-to-Julia/blob/main/Datatypes.png?raw=1"  width="500"  /> <img src="https://github.com/CEASLIBRARY/Introduction-to-Julia/blob/main/enlightenment-symbol.png?raw=1"  width="50"  />  
 </div>  

**From performance point of view, you should not change the datatype after its intialization**

# Declaring and Initializing Variables
* **value is a vaiable name as is assigned a vaue using = operator**
* **Variables in Julia can be declared by just writing their name. There’s no need to define a datatype with it.**

In [ ]:
value = 5

5

## Rules for naming a variable in Julia
* Variable names in Julia must start with an underscore, a letter(A-Z or a-z) or a Unicode character greater than 00A0(nbsp).
* Variable names can also contain digits(0-9) or !, but must not begin with these.
* Operators like (+, ^, etc.) can also be used to name a variable.
* Variable names can also be written as words seperated by underscore, but that is not a good practice and must be avoided unless necessary.
* LaTeX sybols as variable names; Help in succict and readable mathematic functions

In [ ]:
θ = 5
Θ = 9
ϕ = 9
Φ = 23
ϵ = 9
ζ = 23
κ = 23
δ = 23
Δ  = 23

23

# Statically Typed *Variable* Names

In [ ]:
x = 5::Int64

5

In [ ]:
print(typemin(Int64),"\n")
print(typemax(Int64))

-9223372036854775808
9223372036854775807

In [ ]:
x = "345"::String
typeof(x)

String

## Type Conversion
* Use _convert function (targettype,varibale)_
* Always from low to high precision.
* Use trunc/floor etc. to get to lower precision.

In [ ]:
x = 3
println(convert(Float64,x))

3.0

## String to Number Conversion in Julia
* Parse function (T::Type, str, base=Int)

In [ ]:
println(parse(Int64,"23424",base = 8))
println(parse(Int64,"23424",base = 10))
println(parse(Int64,"23424",base = 16))

10004
23424
144420

# **String Initialization and Operators**

In [ ]:
x = "University of Cincinnati"
println(x)
println(string("sf"))
println(string("abc","def","gef"))

University of Cincinnati
sf
abcdefgef

## String Indexing, Slicing and Operators

* x[1]- first character, x[2] = second character. **Indexing**
* x[2:4]- second to fourth character **Slicing**
* x[-1]- backward slicing 
* _*_ Concatination Operation
* ^ repetition
* Use _begin_ and _end_ to access string from front and back respectively

In [ ]:
println(x[1],x[15])
println(x[3],x[7])
println(x[begin:end])
println(x[end-2:end-1])
println(x[end-9:end])

UC
is
University of Cincinnati
at
Cincinnati

# **Comments** 
* Single Line Comment

In [ ]:
#This is Single Line Comment

* Multiple Line Comments

In [ ]:
#= This
is
mulitple Line
Comment
=#

# Hands-on  **Variable and Datatype**

<div>
     <img src="https://github.com/CEASLIBRARY/Introduction-to-Julia/blob/main/Handson.png?raw=1"  width="100"  />  
</div>

### The Rule of 72 applies to cases of compound interest. 
**Compound interest is calculated on both the initial principal and the accumulated interest of previous periods of a deposit.**
* To calculate the time period an investment will double, divide the integer 72 by the expected rate of return.

In [ ]:
# You have 10,000 in you bank account

#= Bank Provides you an annual interest rate of 6% =#
time = 72/6
# Find the time in which your fortune doubles.
#12 - 20,000
# When Will you become millionaire

#24 - 40,000
#36 - 80,000
#48 - 1,60,000
#60 - 3,20,000
#72 - 6,40,000
#84 - 12,80,000
#96 - 25,60,000
#108 - 51,20,000
#120 - 1,0240,000

# When Will you become billionaire

#2^time *10000 = 12*time
#(72/interest)*t = 2^t*principle

#2^t = 1,000,000,000/10,000 = 100,000
#t = log(100,000)
#time = 100

12.0

In [ ]:
log(2,1000000000/10000)*12

159.45254855459342

# **Functions**
* #### Operators are _functions_ and written in **infix** notation
  * Boolean/Logical. 
  ### (&,   ||,    xor,   nand)
  * Arithmatic. 
  ### ( +,  -,  /,  *,  √,  ^,  log etc.)

In [ ]:
println(+(3,4))
println(/(3,4))
println(*(3,4))
println(^(3,4))

7
0.75
12
81


## Generic Functions
  
### **Standard Definition.**

In [ ]:
function squareroot(a)
    return √a
end

squareroot (generic function with 1 method)

In [ ]:
function squareroot(a) ::Float64
    return √a
end

squareroot (generic function with 1 method)

 ### **Inline Functions.**

In [ ]:
f(x) = x^2 + x + √(x+6x^2)

f (generic function with 1 method)

In [ ]:
f(y) = [x^2 for x in y]

f (generic function with 2 methods)

In [ ]:
println(f([2,3,4,5]))

[4, 9, 16, 25]

In [ ]:
f(y) = (x^2 for x in y)

f (generic function with 2 methods)

In [ ]:
println(f([2,3,4,5])...)

491625

In [ ]:
∑(x,y) = x+y

∑ (generic function with 1 method)

In [ ]:
factorial!(x::Int64) = x == 1 ? one(x) : factorial!(x-1)*x

factorial! (generic function with 1 method)

In [ ]:
factorial!(3::Int64)

6

In [ ]:
fib(n::Integer) = n ≤ 2 ? one(n) : fib(n-1) + fib(n-2)

fib (generic function with 1 method)

### **Anonymous/ Lamdba Expressions.**

In [ ]:
x -> x^+2+3x+4

#1 (generic function with 1 method)

In [ ]:
map(x->x^2+2x+4,[1,2,3,4,5])

5-element Vector{Int64}:
  7
 12
 19
 28
 39

In [ ]:
map(x-> x*x*x,["1","2","3","4","5"])

5-element Vector{String}:
 "111"
 "222"
 "333"
 "444"
 "555"

# Hands-on  **Functions**
<div>
     <img src="https://github.com/CEASLIBRARY/Introduction-to-Julia/blob/main/Handson.png?raw=1"  width="100"  />  
</div>

## Generate Cincinnati word by merging letters[cinat]; you can replicate your substrings

* x = 2*("cin") + "nat"+i

In [ ]:
x = string(string('c','i','n')^2 , string('n','a','t','i'))

"cincinnati"

In [ ]:
x = "cinat"
println(x[begin:3]^2*x[3:end]*x[2])

cincinnati

# **Data Structures**

  * Arrays and Vectors
  * Metrices
  * Sets and Tuples

# Creating a 1D array/vector

In [ ]:
Array1 = [1, 2, 3, 4]

4-element Vector{Int64}:
 1
 2
 3
 4

In [ ]:
Array{Int64}([1, 2, 3,4])

4-element Vector{Int64}:
 1
 2
 3
 4

In [ ]:
Vector{Int64}([1, 2, 3,4])

4-element Vector{Int64}:
 1
 2
 3
 4

In [ ]:
println(Array1[begin:end])
println(Array1[2])

[1, 2, 3, 4]
2

# Creating a 2D array

In [ ]:
Array2 = [1 2 3; 4 5 6]

2×3 Matrix{Int64}:
 1  2  3
 4  5  6

In [ ]:
println(Array2[begin:end])
println(Array2[5])
println(Array2[1,3])

[1, 4, 2, 5, 3, 6]
3
3

# Creating a 3D array
## using 'cat' command

In [ ]:
Array3 = cat([1 2; 3 4], [5 6; 7 8], [2 2; 3 4], dims = 3)

2×2×3 Array{Int64, 3}:
[:, :, 1] =
 1  2
 3  4

[:, :, 2] =
 5  6
 7  8

[:, :, 3] =
 2  2
 3  4

In [ ]:
println(Array3[begin:end])
println(Array3[5])
println(Array3[1,2,1])

[1, 3, 2, 4, 5, 7, 6, 8, 2, 3, 2, 4]
5
2

# Sets

**Creating an empty set**

In [ ]:
Set1 = Set(3)
println("Empty Set: ", Set1)

Empty Set: Set([3])

**Creating a set with Integer values**

In [ ]:
Set2 = Set([1, 2, 3, 4, 5, 2, 4, 6])
println(Set2)

Set([5, 4, 6, 2, 3, 1])

**Creating a set with mixed datatypes**

In [ ]:
Set3 = Set([1, 2, 3, "Hello", "Cincy"])
println(Set3)
println(union(Set1,Set2,Set3))
println(intersect(Set1,Set2,Set3))

Set(Any[2, "Hello", 3, 1, "Cincy"])
Set(Any[5, 1, 4, 6, 2, "Hello", 3, "Cincy"])
Set([3])

# Creating a Tuple

In [ ]:
x = (2,3,4,5)

(2, 3, 4, 5)

In [ ]:
f(x,y,z,w) = x+y+z+w

f (generic function with 2 methods)

In [ ]:
println(f((9,53,4,5)...))
f(x...)

71

14

# Hands-on  **Data Structures**

<div>
     <img src="https://github.com/CEASLIBRARY/Introduction-to-Julia/blob/main/Handson.png?raw=1"  width="100"  />  
</div>

# some problems here

# **Conditional Evaluation**

In [ ]:
x = 9
if x >= 0
    "whole number"
else
    "-ve Number"
end

"whole number"

In [ ]:
x = 9
if mod(x,2) == 0
    "Even number"
elseif x==0
     "zero"
else
     "Odd Number"
end

"Odd Number"

## **Ternary Operator**

In [ ]:
println(3>4 ? 23 : 45)
println(30>14 ? 23 : 45)

45
23

# **Control Flow**

### For Loops

In [ ]:
for x in [1,2,3,4,5]
    print(x," ")
end

1 2 3 4 5

In [ ]:
for x in 2:10
    print(x," ")
end

2 3 4 5 6 7 8 9 10

In [ ]:
for y in range(0, stop=3, length=5)
    print(y,", \n")
end

0.0,
0.75,
1.5,
2.25,
3.0,

## Nested Statements as cartesian product

In [ ]:
for i = 3:5, j = 1:4
    print((i, j))
end

(3, 1)(3, 2)(3, 3)(3, 4)(4, 1)(4, 2)(4, 3)(4, 4)(5, 1)(5, 2)(5, 3)(5, 4)

### While Loops

In [ ]:
x = Array{Int64}([1,2,3,4,5])
i = 1
while i <= length(x)
    println(x[i])
    i = i + 1
end

1
2
3
4
5

## Iterators for Lists

In [ ]:
for y in Iterators.reverse(x)
    print(y)
end

54321

Excercises

Do some computation

In [ ]:
Tax computation

# For more on Julia visit online resources
* [Official Documentation at julialang.org](https://docs.julialang.org/en/v1/)
* [UC Irvin: Julia in Depth for data Scientists](http://ucidatascienceinitiative.github.io/IntroToJulia/)

# Interesting Links and News


*   Programming Basics
    * Intangible Side of Programming
      * Critical Thinking : [Coding develops CT](https://thesassway.com/what-is-critical-thinking-in-computer-science/)
      * Mathamatics : [Computational Programming](https://www.quantamagazine.org/computing-expert-says-programmers-need-more-math-20220517/)
      * Logical Development : [How to Think Logically](https://www.geeksforgeeks.org/i-cant-use-logic-in-programming-what-should-i-do/)
      * Art of articulating your mind : [putting thoughts into words](https://milesberry.net/2021/11/practical-programming/)
    * Tangible Side of Programming
      * Syntax Learning : [Grammer](https://pgrandinetti.github.io/compilers/page/what-is-a-programming-language-grammar/#:~:text=A%20Programming%20Language%20Grammar%20is,statements%20(also%20called%20sentences).)
      * Programming Constructs : [Sentence Formation](https://cgi.csc.liv.ac.uk/~frans/OldLectures/2CS45/progCons/progCons.html)
      * Program Flow : [Control Flow](https://en.wikipedia.org/wiki/Control_flow)
      * Programming Features : [Writing Style](https://scoutapm.com/blog/functional-vs-procedural-vs-oop)

# Upcoming Julia Workshop
* **Julia for Mathematician : Functions and Plots**
* **Data Visualization with Julia**